.header {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  border-bottom: solid 1px rgb(0, 0, 0);
  opacity: 0.9;
  margin-bottom: 1rem;
}

.button {
  display: inline-block;
  background: rgb(61, 35, 211);
  color: rgb(236, 236, 236);
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.button:hover {
  opacity: 0.8;
}
