.button {
  display: inline-block;
  background: #268386;
  color: #d2e6e7;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.button:hover {
  opacity: 0.8;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #292929;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 1000;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
  margin: 2rem;
}
